body {
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: repeat(1, 1fr) repeat(1, 3fr);
  height: 100%;
}

/* Search */

.search {
  display: flex;
  border: 1px solid blue;
  padding: 10px;
  justify-content: space-around;
}

.search-pic {
  width: 20px;
  height: 20px;
  padding-right: 5px;
  padding-left: 5px;
}

.search-bar {
  display: flex;
  width: 50%;
  align-items: center;
}

.user {
  display: flex;
  align-items: center;
}

.pfp {
  width: 30px;
  height: 30px;
  padding-right: 5px;
  padding-left: 5px;
}

.input {
  width: 100%;
  border-radius: 5px;
}

/* Header */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pfp-large {
  width: 50px;
  height: 50px;
  padding-right: 5px;
  padding-left: 5px;
}

button {
  border-radius: 15px;
  border: none;
  padding: 10px;
  background-color: #a855f7;
  color: white;
  margin: 12px;
}

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

p {
  font-size: 15px;
  margin: 0;
}

h4 {
  font-size: 20px;
  margin: 0;
}

/* Content */

.content {
  display: grid;
  grid-template-columns: repeat(1, 3fr) repeat(1, 2fr);
  background-color: #f3f4f6;
}

.project {
  margin-left: 10px;
  margin-top: 10px;
}

.main {
  display: grid;
  grid-template-columns: 270px 270px;
  grid-template-rows: auto;
  row-gap: 15px;
  column-gap: 60px;
  margin-top: 5px;
}

.card {
  width: 270px;
  height: 125px;
  border-radius: 10px;
  background: white;
  position: relative;
  border: 2px solid #c3c6ce;
  border-left: 5px solid orange;
  transition: 0.5s ease-out;
  overflow: visible;
}

.details {
  color: black;
  height: 100%;
  gap: .5em;
  display: grid;
  place-content: center;
}

.title {
  font-size: 1.5em;
  font-weight: bold
}

.body {
  color: rgb(134, 134, 134);
}

.card:hover {
  border-color: #008bf8;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

/* for sidebar */

.sidebar {
  display: grid;
  border: 1px solid gold;
  background-color: #a855f7;
  color: white;
}

.sidebar-header {
  display: flex;
}

.side-head-logo {
  width: 50px;
  height: 50px;
  padding-left: 5px;
}

.side-item {
  /* border: 1px solid darkorange; */
  padding: 5px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.side-logo {
  width: 20px;
  height: 20px;
  padding-right: 5px;
  padding-left: 10px;
}
